.profile-title{
    font-weight: bolder;
    font-size: 4.5rem;
    //background: url("https://www.in2code.de/fileadmin/_processed_/0/b/csm_code_javascript_49d002a67e.webp");
    //-webkit-background-clip: text;
    //background-clip: text;
    //color: transparent;
}
.profile-subtitle{
    font-size: 3.5;
    font-weight: 700;
    opacity: 0.8;
}
.profile-text{
    font-size: 2.5;
    font-weight: 500;
    opacity: 0.6;
}
.profile-icon{
    font-size: 3rem;
    color: #000;
    opacity: .7;
}
.img{
    width: 22rem;
    height: auto;
    border-radius: 26px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .profile-title{
        font-size: 1.7rem;
    }
    .profile-subtitle{
        font-size: 1.5rem;
    }
    .profile-text{
        font-size: 1rem;
    }
    .img{
        width: 15rem;
    }
}