.about-img{
    width: 30rem;
    border-radius: 26px;
}
.btn-skill{
    background-color: rgba(45,212,191,.1);
    border-radius: 9999px;
    color: rgb(94 234 212);
    opacity: 1;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    margin: 1rem .5rem 0 .5rem;
    transition: .3s;
}
.btn-skill:hover{
    text-shadow: 0 0 30px #fff;
}
