.about-study_container{
    border-radius: 36px;
    padding: 3rem 2rem;
    transition: .3s;
    width: 100%;
    &:hover{
        //background-color: #eeeeeecb;
        //backdrop-filter: blur(8px);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}
.about-img{
    width: 30rem;
    border-radius: 26px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}
.about-study_name{
    font-size: 2.5rem;
}
.about-study_date{
    font-size: 2rem;
    opacity: 0.7;
}
.btn-skill{
    background-color: rgba(45,212,191,.1);
    border-radius: 9999px;
    color: rgb(94 234 212);
    opacity: 1;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    margin: 1rem .5rem 0 .5rem;
    transition: .3s;
}
.btn-skill:hover{
    text-shadow: 0 0 30px #fff;
}

@media (max-width: 768px) {
    .about-title{
        font-size: 1.5rem;
        margin: 1rem auto;
    }
    .about-text{
        font-size: .8rem;
    }
    .about-btn{
        width: 1rem;
    }
    .about-study_container{
        padding: 0;
        width: 100vw;
    }
    .about-study{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .about-img{
            width: 13rem;
        }
        .about-study_name, .about-study_date{
            font-size: .9rem;
        }
    }
}
