.navbar{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.6);
    padding: 0!important;
    height: 3rem;
    z-index: 10;
}
.navbar-bg-white{
    background-color: #fff!important;
}
.navbar-bg-dark{
    background-color: #011824!important;
}
.btn-close{
    position: absolute;
    left: 0;
}
.nav-item{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
    .nav-items-dark{
        &:hover{
            color: #fff;
            text-shadow: 0 0 30px #fff;
        }
    }
    .nav-items-white{
        &:hover{
            color: #011824;
            text-shadow: 0 0 30px #011824;
        }
    }
}


@media (max-width: 768px) {
    a{
        font-size: 2rem
    }
    .navbar-nav{
        align-items: center!important;
        height: 100vh;
    }
    .navbar-title{
        font-size: .9rem!important;
    }
    .navbar-toggler-icon{
        width: 1rem;
        height: 1rem;
        filter: invert(100%)
    }
    .offcanvas-title{
        margin: 0 3rem;
        font-size: .8rem;
    }
}