.navbar{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.6);
}
.btn-close{
    position: absolute;
    left: 0;
}
.nav-item{
    text-transform: uppercase;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .navbar-nav{
        align-items: center!important;
    }
    .navbar-title{
        font-size: .8rem!important;
    }
    .navbar-toggler-icon{
        width: 1rem;
        height: 1rem;
    }
    .offcanvas-title{
        margin: 0 3rem;
        font-size: .8rem;
    }
}